body {
  margin: 0;
  /* Remove body margin */
  padding: 0;
  /* Remove body padding */
  

  background: linear-gradient(to right, rgb(154, 0, 0), rgb(112, 0, 0), rgb(48, 0, 0), rgb(16, 0, 0), black);

}


/* Make the scrollbar invisible */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Make the scrollbar track invisible */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Make the scrollbar thumb invisible */
::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
}

.welcomeX{
  position: absolute;
  z-index: -1;
  margin-top: -300px;
}

@font-face {
  font-family: "SFDistantGalaxyOutline";
  src: url("fonts/SFDistans/SFDistantGalaxyOutline.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("fonts/JosefinSans/JosefinSans-Regular.ttf");
}

.fontX {
  font-family: "JosefinSans";
  font-weight: bold;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.432), rgba(255, 255, 255, 0.454)); /* Gradient from black to white */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes the text fill color transparent */
  font-size: 200px;
}


.logoX{
  position: absolute;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5)); /* Larger shadow with more blur */
}

#scene-container {
  width: 100%;
  height: 100vh;
  /* Full viewport height */
}

.horizontal-sections {
  display: flex;
  flex-direction: row;
  width: 600vw;
  /* Total width for two sections */
  transform: translate3d(0, 0, 0);
}

.horizontal-section {
  width: 100vw;
  flex-shrink: 0;
}


@media only screen and (min-width: 767px){
  
  .mobileX{
    display: none;
  }

}

@media only screen and (max-width: 767px){
  
  #scene-container {
    width: 80%;
    height: 80vh;
    /* Full viewport height */
  }

  .mobileX{
    display: visible;
  }

  .horizontal-sections {
    display: none;
  }

  .fontX {
    margin-top: -200px;
    font-weight: bold;
    font-size: 40px;
  }

}